# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual envs
.venv/
venv/

# PyInstaller / build artifacts
build/
dist/
*.spec

# IDEs / OS junk
.idea/
.vscode/
.DS_Store
Thumbs.db

# Local configs
.env
