# --------------------------------
# Python
# --------------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# MacOS
.DS_Store

# VS Code
.vscode/
*.code-workspace

# --------------------------------
# JetBrains (PyCharm, IntelliJ, etc.)
# --------------------------------
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
